<h1>{{slideshow.slideshow.slideshowId}}</h1>

<table class="table table-bordered table-striped" ng-show="slideshow.slides">
	<thead>
		<tr>
			<th>Slide</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="slide in slideshow.slides">
			<td>{{slide.slideId}}</td>

			<td>
				<a ng-href="/slides/{{ slide.slideId}}" class="btn btn-primary">View</a>
			</td>
		</tr>
	</tbody>
</table>
<a ng-href='/slideshows/{{slideshow.slideshow.slideshowId}}/run/3' class="btn btn-primary">Start Slideshow</a>
