<h1>Create Dashboard</h1>

<form class="form-horizontal" ng-submit="slide.saveSlide()">
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="slide.slideData.name">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">SlideId</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="slide.slideData.slideId">
		</div>
	</div>

	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
		<button type="submit" class="btn btn-success btn-lg btn-block">Create Dashboard</button>
	</div>
	</div>

</form>

<div class="row show-hide-message" ng-show="slide.message">
	<div class="col-sm-6 col-sm-offset-2">
		
		<div class="alert alert-info">
			{{ slide.message }}
		</div>

	</div>
</div>
