<div ng-controller="sampleFacebookFeedController as fb">
{{fb.text}}
  <div id="fb-root"></div>
  
  <div class="fb-page" 
      data-href="https://www.facebook.com/Nemetschek.Allplan" 
      data-small-header="false" 
      data-adapt-container-width="false" 
      data-hide-cover="false" 
      data-show-facepile="false" 
      data-width="500"
      data-height="900"
      data-show-posts="true">
      <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/Nemetschek.Allplan">
              <a href="https://www.facebook.com/Nemetschek.Allplan">Allplan</a>
          </blockquote>
      </div>
  </div>

</div>