<div id="fb-root"></div>
<div id="pageContainer">
  <div class="fb-page" id="fb-page"
    data-href="https://www.facebook.com/myBackeryInManhatten" 
    data-small-header="true" 
    data-adapt-container-width="false" 
    data-hide-cover="false" 
    data-show-facepile="false" 
    data-width="400"
    data-height="760"
    data-show-posts="true"
    data-hide-cta="true">
    
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/myBackeryInManhatten">
        <a href="https://www.facebook.com/myBackeryInManhatten">My Business Page</a>
      </blockquote>
    </div>
  </div>
</div>
  
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1485828858398295";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

	var reloadLiveLoad;
	
	$('document').ready(function(){
		if (typeof reloadLiveLoad === 'undefined')
			reloadLiveLoad = setInterval(refreshLiveLoad,10000);
	});
	function refreshLiveLoad () {
   $('#pageContainer').html($('#pageContainer').html());
	}
</script>